{% load i18n %}

{% block title %}
    {% trans "Match Schedule" %}

    {% if team %}
        <p>TEAM: {{team.title}}</p>
        <p>
            <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'core:team-point' team.id %}">Points</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'core:points' %}">Points</a>
        </p>
    {% endif %}
{% endblock %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}

    {% if matches %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Match Details" %}</th>
                    <th>{% trans "Time" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr>
                        <td>{{match.match_date}}</td>
                        <td>{{match.team}} VS {{match.match_with}}</td>
                        <td>{{match.match_time}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No Match have been made yet." %}</p>
    {% endif %}

{% endblock content %}
