{% load i18n %}

{% block title %}
    {% trans "Player History" %}

    <p>TEAM: {{player.team.title}}</p>
    <p><img src="{{player.full_path}}" width="48px"></p>
    <p>NAME: {{player.full_name|default:"-"}}</p>
    <p>
        <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:details' player.team.id %}">Team Players</a>
    </p>
{% endblock %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}

    {% if details %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Match" %}</th>
                    <th>{% trans "Runs" %}</th>
                    <th>{% trans "Highest Scores" %}</th>
                    <th>{% trans "Hundreds" %}</th>
                    <th>{% trans "Fiftes" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{details.total_match}}</td>
                    <td>{{details.total_run}}</td>
                    <td>{{details.highest_score}}</td>
                    <td>{{details.total_centuries}}</td>
                    <td>{{details.total_fifties}}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No Player History have been made yet." %}</p>
    {% endif %}

{% endblock content %}
