{% load i18n %}

{% block title %}
    {% trans "Points Table" %}

    {% if team %}
        <p>TEAM: {{team.title}}</p>
        <p>
            <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'core:team-match' team.id %}">Schedule</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'core:matches' %}">Schedule</a>
        </p>
    {% endif %}
{% endblock %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}

    {% if points %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Teams" %}</th>
                    <th>{% trans "Match" %}</th>
                    <th>{% trans "Won" %}</th>
                    <th>{% trans "Lost" %}</th>
                    <th>{% trans "Tied" %}</th>
                    <th>{% trans "NR" %}</th>
                    <th>{% trans "PTs" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for point in points %}
                    <tr>
                        <td>{{point.team}}</td>
                        <td>{{point.match}}</td>
                        <td>{{point.won|default:"0"}}</td>
                        <td>{{point.lose|default:"0"}}</td>
                        <td>{{point.tied|default:"0"}}</td>
                        <td>{{point.nr|default:"0"}}</td>
                        <td>{{point.pts|default:"0"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No Points have been made yet." %}</p>
    {% endif %}

{% endblock content %}
