{% load i18n %}

{% block title %}
    {% trans "Cricket Team List" %}

    <p>
        <a href="{% url 'core:matches' %}">Match Schedule</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:points' %}">Match Points</a>
    </p>
{% endblock %}


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}

    <h1>{{message}}</h1>

    {% if teams %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Team Name" %}</th>
                    <th>{% trans "Logo" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td><a href="{% url 'core:details' team.id %}">{{ team.title|default:"-" }}</a></td>
                        <td><p><img src="{{ team.full_path }}" width="80px"></p></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- <a href="">Points Table</a> -->
    {% else %}
        <p>{% trans "No Cricket Teams have been made yet." %}</p>
    {% endif %}

{% endblock content %}
