{% load i18n %}

{% block title %}
    {% trans "Players List" %}
    <p>TEAM: {{team.title}}</p>

    <p>
        <a href="{% url 'core:teams' %}">Teams</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:team-match' team.id %}">Schedule</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'core:team-point' team.id %}">Points</a>
    </p>
{% endblock %}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}

    {% if players %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Image" %}</th>
                    <th>{% trans "First Name" %}</th>
                    <th>{% trans "Last Name" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td><p><img src="{{player.full_path}}" width="48px"></p></td>
                        <td><a href="{% url 'core:player' player.id %}">{{player.first_name}}</a></td>
                        <td>{{player.last_name|default:"-" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No Players in this team" %}</p>
    {% endif %}

{% endblock content %}
